tags
TAGS
*.tar.gz
.libs
.deps
*.o
*.lo
*.la
*~
*.orig
*.rej
ChangeLog
ChangeLog-*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fontconfig-zip
fontconfig.pc
fontconfig.spec
fonts.conf
install-sh
doltcompile
libtool
ltmain.sh
missing
stamp-h1
manpage.log
doc/*.3
doc/confdir.sgml
doc/edit-sgml
doc/fcatomic.sgml
doc/fcblanks.sgml
doc/fccache.sgml
doc/fccharset.sgml
doc/fcconfig.sgml
doc/fcconstant.sgml
doc/fcdircache.sgml
doc/fcfile.sgml
doc/fcformat.sgml
doc/fcfontset.sgml
doc/fcfreetype.sgml
doc/fclangset.sgml
doc/fcinit.sgml
doc/fcmatrix.sgml
doc/fcobjectset.sgml
doc/fcobjecttype.sgml
doc/fcpattern.sgml
doc/fcstring.sgml
doc/fcstrset.sgml
doc/fcvalue.sgml
doc/fontconfig-devel.pdf
doc/fontconfig-devel.txt
doc/fontconfig-devel
doc/fontconfig-user.html
doc/fontconfig-user.pdf
doc/fontconfig-user.txt
doc/fonts-conf.5
doc/func.refs
doc/local-fontconfig-devel.sgml
doc/local-fontconfig-user.sgml
doc/version.sgml
doc/devel-man
fc-arch/fc-arch
fc-arch/fcarch.h
fc-cache/fc-cache
fc-cache/fc-cache.1
fc-case/fc-case
fc-case/fccase.h
fc-cat/fc-cat
fc-cat/fc-cat.1
fc-glyphname/fc-glyphname
fc-glyphname/fcglyphname.h
fc-lang/fc-lang
fc-lang/fclang.h
fc-list/fc-list
fc-list/fc-list.1
fc-match/fc-match
fc-match/fc-match.1
fc-pattern/fc-pattern
fc-pattern/fc-pattern.1
fc-query/fc-query
fc-query/fc-query.1
fc-scan/fc-scan
fc-scan/fc-scan.1
src/fcarch
src/fontconfig.def
fcalias.h
fcaliastail.h
src/fcftalias.h
src/fcftaliastail.h
