/*
 * Copyright (c) 2005 Alexander Gottwald
 *
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE ABOVE LISTED COPYRIGHT HOLDER(S) BE LIABLE FOR ANY CLAIM, DAMAGES OR
 * OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
 * ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 *
 * Except as contained in this notice, the name(s) of the above copyright
 * holders shall not be used in advertising or otherwise to promote the sale,
 * use or other dealings in this Software without prior written authorization.
 */

#define STR_CAPTION_DISPLAY         "Display settings"
#define STR_MULTIWINDOW             "Multiple windows"
#define STR_FULLSCREEN              "Fullscreen"
#define STR_WINDOWED                "One large window"
#define STR_NODECORATION            "One window without titlebar"
#define STR_DISPLAY_DESC            "Display number"

#define STR_CAPTION_CLIENTS         "Client startup"
#define STR_CLIENT_NONE             "Start no client"
#define STR_CLIENT_NONE_DESC		"This will just start the xserver. You will be able to start local clients later."
#define STR_CLIENT					"Start a program"
#define STR_CLIENT_DESC				"This will start a local or remote program which will connect to the xserver. You will be able to start local clients later too. Remote programs are started using SSH."
#define STR_XDMCP					"Open session via XDMCP"
#define STR_XDMCP_DESC				"This will start a remote XDMCP session. Starting local clients later is limited. This option is not available with the ""Multiple windows"" mode."

#define STR_CAPTION_PROGRAM         "Start program"
#define STR_CLIENT_PROGRAM_DESC     "Start program"
#define STR_CLIENT_LOCAL            "Start program on this computer"
#define STR_CLIENT_REMOTE           "Start program on remote computer"
#define STR_CLIENT_PROTOCOL_DESC    "Connect using"
#define STR_CLIENT_HOST_DESC        "Connect to computer"
#define STR_CLIENT_USER_DESC        "Login as user"


#define STR_CAPTION_XDMCP           "XDMCP settings"
#define STR_XDMCP_QUERY             "Connect to host"
#define STR_XDMCP_INDIRECT          "Use indirect connect"
#define STR_XDMCP_BROADCAST         "Search for hosts (broadcast)"
#define STR_XDMCP_QUERY_DESC        "Some XDMCP servers must be configured to allow remote connections. Please check the documentation about configuring XDMCP servers."


#define STR_CAPTION_FONTPATH        "Fontpath settings"

#define STR_CAPTION_CLIPBOARD       "Clipboard settings"
#define STR_CLIPBOARD               "Clipboard"
#define STR_CLIPBOARD_DESC          "Start the integrated clipboard manager"
#define STR_EXTRA_PARAMS_DESC       "Additional parameters for Xming"

#define STR_CAPTION_FINISH          "Finish configuration"
#define STR_FINISH_DESC	            "Configuration is complete. Clish Finish to start Xming."
#define STR_FINISH_SAVE_DESC        "You may also save the configuration for later use."
#define STR_FINISH_SAVE	            "Save configuration"

#define STR_DISPLAY_TITLE           "Select display settings"
#define STR_DISPLAY_SUBTITLE        "Choose how Xming display programs"
#define STR_CLIENTS_TITLE           "Select how to start clients"
#define STR_CLIENTS_SUBTITLE        ""
#define STR_PROGRAM_TITLE           "Specify the program to start"
#define STR_PROGRAM_SUBTITLE        ""
#define STR_XDMCP_TITLE             "Configure a remote XDMCP connection"
#define STR_XDMCP_SUBTITLE          ""
#define STR_FONTPATH_TITLE          "Define font locations"
#define STR_FONTPATH_SUBTITLE       ""
#define STR_FINISH_TITLE            "Configuration complete"
#define STR_FINISH_SUBTITLE         ""
#define STR_CLIPBOARD_TITLE         "Clipboard settings"
#define STR_CLIPBOARD_SUBTITLE      ""

#define STR_SAVE_TITLE              "Save configuration"
#define STR_SAVE_FILETITLE          "Filename"
#define STR_SAVE_FILTER             "Xlaunch Files (*.xlaunch)%*.xlaunch%%"

STRINGTABLE
BEGIN
    IDS_DISPLAY_TITLE       STR_DISPLAY_TITLE       
    IDS_DISPLAY_SUBTITLE    STR_DISPLAY_SUBTITLE    
    IDS_CLIENTS_TITLE       STR_CLIENTS_TITLE       
    IDS_CLIENTS_SUBTITLE    STR_CLIENTS_SUBTITLE    
    IDS_PROGRAM_TITLE       STR_PROGRAM_TITLE       
    IDS_PROGRAM_SUBTITLE    STR_PROGRAM_SUBTITLE    
    IDS_XDMCP_TITLE         STR_XDMCP_TITLE         
    IDS_XDMCP_SUBTITLE      STR_XDMCP_SUBTITLE      
    IDS_FONTPATH_TITLE      STR_FONTPATH_TITLE      
    IDS_FONTPATH_SUBTITLE   STR_FONTPATH_SUBTITLE   
    IDS_FINISH_TITLE        STR_FINISH_TITLE      
    IDS_FINISH_SUBTITLE     STR_FINISH_SUBTITLE   
    IDS_CLIPBOARD_TITLE     STR_CLIPBOARD_TITLE      
    IDS_CLIPBOARD_SUBTITLE  STR_CLIPBOARD_SUBTITLE   
    IDS_SAVE_TITLE	    STR_SAVE_TITLE
    IDS_SAVE_FILETITLE      STR_SAVE_FILETITLE
    IDS_SAVE_FILTER         STR_SAVE_FILTER
END
