*.la
*.lo
*.loT
*.o
*.pc
*.tar.bz2
*.tar.gz
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
build-aux
config.h*
config.log
config.status
configure
configure.lineno
libtool
m4/l*.m4
mkinstalldirs
stamp-h1
