bigreq.*
composite.*
damage.*
dpms.*
dri2.*
dri3.*
glx.*
present.*
randr.*
record.*
render.*
res.*
screensaver.*
shape.*
shm.*
sync.*
xc_misc.*
xevie.*
xf86dri.*
xfixes.*
xinerama.*
xinput.*
xkb.*
xprint.*
xselinux.*
xtest.*
xv.*
xvmc.*
xproto.*
xcb_des.c
X11
